<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042204341475-gq22440ntjiaikh3925dghl92bgrso3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042204341475-gq22440ntjiaikh3925dghl92bgrso3q</string>
	<key>API_KEY</key>
	<string>AIzaSyD0-DzKWOT5RiivwYp_Kwx0bMbpkxPfVWg</string>
	<key>GCM_SENDER_ID</key>
	<string>1042204341475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.surveyApp</string>
	<key>PROJECT_ID</key>
	<string>surveyapp-d6565</string>
	<key>STORAGE_BUCKET</key>
	<string>surveyapp-d6565.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042204341475:ios:7b4643a3f820ab3da501d6</string>
</dict>
</plist>